.code_block {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    /* display: inline-block; */
    margin-bottom: 1rem;
    text-align: center;
}
.code_string {
	border-radius: 1rem;
	font-weight: bold;
	background-color: white;
	font-size: 2rem;
	border: 1px solid grey;
    padding: 1.0rem;
    min-width: 50%;
    max-width: 95%;
    text-align: center;
}

.code_image {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.form_label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.form_sublabel {
    color: #666;
    font-size: 0.875rem;
}

.form_select {
    min-width: 50%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.form_input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

tr.header_row th {
    background-color: #f0f0f0;
    /* text-align: left; */
    padding: 0.5rem;

}
tr.code_row td {
    padding: 0.75rem; border: 1px solid #ddd;
}