.code_block {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    /* display: inline-block; */
    margin-bottom: 1rem;
    text-align: center;
}
.code_string {
	border-radius: 1rem;
	font-weight: bold;
	background-color: white;
	font-size: 2rem;
	border: 1px solid grey;
    padding: 1.0rem;
    min-width: 50%;
    max-width: 95%;
    text-align: center;
}

.code_image {
    max-width: 100%;
    height: auto;
    text-align: center;
}