{% extends "base_template.html" %}
{% block title %}HoofPrint - Admin Dashboard{% endblock %}

{% block content %}

<h1>Admin Dashboard - Confirm Resetting Password</h1>
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="user_id" value="{{ user_id.hyphenated() }}">
    <table>

        <tr>
            <td><strong>User Email</strong></td>
            <td>{{ user_email }}</td>
        </tr>
        <tr>
            <td><strong>User Display Name</strong></td>
            <td>{{ user_display_name }}</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Confirm Password Reset" class="btn btn-purple"></td>
        </tr>
    </table>
</form>

{% endblock content %}

{% block footer %}
<div class="footer">
    Logged in as {{ user_display_name }} ({{ user_email }})
</div>
{% endblock footer %}