{% extends "base_template.html" %}
{% block title %}HoofPrint - Admin Dashboard{% endblock %}

{% block content %}

<h1>Admin Dashboard - Password Reset Completed!</h1>
<form method="POST">
    <input type="hidden" name="user_id" value="{{ user_id.hyphenated() }}">
    <table>

        <tr>
            <th>User Email</th>
            <td>{{ user_email }}</td>
        </tr>
        <tr>
            <th>User Display Name</th>
            <td>{{ user_display_name }}</td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><pre>{{ new_password }}</pre></td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{ Urls::AdminDashboard.as_ref() }}"><button type="button" class="btn btn-purple">Back to Admin Page</button>
                </a></td>
        </tr>
    </table>
</form>

{% endblock content %}

{% block footer %}
<div class="footer">
    Logged in as {{ user_display_name }} ({{ user_email }})
</div>
{% endblock footer %}