<html>
    <head>
        <title>{% block title %}HoofPrint{% endblock %}</title>
        <link rel="icon" type="image/png" href="/static/img/128x128logo.png" />
        <link rel="icon" type="image/svg+xml" href="/static/img/logo.svg" />
        <link rel="manifest" href="/manifest.json" />
        {% block scripts %}

        {% endblock scripts %}
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        {% block header %}
        <nav>
            <h1 class="logo">
                <a href="/">
                    <img class="logo" src="/static/img/logo.png" alt="HoofPrint" /> hoofPrint
                </a>
            </h1>
        </nav>
        {% endblock %}
        <main>
            {% block content %}

            {% endblock content %}
        </main>
    </body>
</html>