{% extends "base_template.html" %}
{% block title %}HoofPrint - My Codes{% endblock %}

{% block content %}
<div>
    <div class="flex_right mb-1rem">
        <a href="/scan"><button type="button" class="btn btn-green">Scan Code</button></a>
        <a href="/create"><button type="button" class="btn btn-blue">Create New Code</button></a>
    </div>

    {% if codes.is_empty() %}
    <p>No codes yet. <a href="/create">Create your first code</a>!</p>
    {% else %}
    <table class="codes_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Site</th>
                <th>Value</th>
                <th><!-- Actions --></th>
            </tr>
        </thead>
        <tbody>
            {% for code in codes %}
            <tr class="code_row">
                <td class="code_cell">
                    {% if let Some(name) = code.code_name %}
                    {{ name }}
                    {% endif %}
                </td>
                <td class="code_cell">{{ code.site_name }}</td>
                <td class="code_cell">{{ code.code_value }}</td>
                <td class="code_cell flex_right">
                    <a href="/view/{{ code.id }}"><button type="button" class="btn">View</button></a>
                    <a href="/edit/{{ code.id }}"><button type="button" class="btn">Edit</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}
