{% extends "base_template.html" %}
{% block title %}hoofPrint - Login{% endblock %}

{% block content %}

{% if let Some(error_string) = error %}
<div class="error">{{ error_string }}</div>
{% endif %}

<form action="/login" method="post" class="login_form">
    <div class="login_form_container">
        <h2>Login</h2>
        <div class="form_box h-middle">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{ email }}" required>
        </div>

        <div class="form_box h-middle">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form_box h-middle">
            <button type="submit" class="btn btn-purple">Login</button>
        </div>
    </div>
</form>
{% endblock %}