{% extends "base_template.html" %}
{% block title %}hoofPrint - Login{% endblock %}

{% block content %}

{% if let Some(error_string) = error %}
<div class="error">{{ error_string }}</div>
{% endif %}

<h1>Register for HoofPrints</h1>

<p>HoofPrints is a platform for storing your Membership cards and other Bar Codes/QR Codes</p>

<p>Create an account to get started.</p>

<form action="{{ Urls::Register.as_ref() }}" method="post" class="register_form">
    <div class="form_container">
        <div class="form_box h-middle">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ name }}" required>
        </div>
        <div class="form_box h-middle">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{ email }}" required>
        </div>

        <div class="form_box h-middle">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form_box h-middle">
            <button type="submit" class="btn btn-purple">Register</button>
        </div>
    </div>
</form>
{% endblock %}